[Desktop Entry]
Name=IMGV
GenericName=Image Viewer
Comment=View Images
TryExec=imgv
Exec=imgv
Type=Application
Keywords=Image;Viewer;
Icon=imgv
Categories=Utility;ImageViewer;
StartupNotify=false
MimeType=image/jpeg;image/png;image/svg+xml;image/webp;image/bmp;image/gif;image/x-xbitmap;image/x-xpixmap;image/x-portable-pixmap;image/x-portable-bitmap;image/x-portable-graymap;
