[Desktop Entry]
Name=IMGV
GenericName=Image Viewer
Comment=View Images
TryExec=imgv
Exec=imgv --input %U
Type=Application
Terminal=false
Keywords=Image;Viewer;
Icon=imgv
Categories=Utility;
StartupNotify=false
MimeType=image/3fr;image/ai;image/art;image/arw;image/avs;image/bmp;image/brf;image/brk;image/cals;image/cgm;image/cr2;image/crw;image/cur;image/dib;image/djvu;image/dpx;image/dng;image/dot;image/epi;image/epx;image/exr;image/fits;image/flif;image/flv;image/gif;image/heic;image/heif;image/ico;image/image;image/info;image/iptc;image/j2k;image/jng;image/jpeg;image/jpg;image/jxr;image/k25;image/kdc;image/map;image/mng;image/mos;image/mrw;image/mtv;image/nef;image/orf;image/pbm;image/pcd;image/pcl;image/pcx;image/pgm;image/png;image/ppm;image/psd;image/ras;image/rgb;image/rgba;image/rw2;image/sgi;image/spp;image/svg;image/tga;image/tiff;image/webp;image/wmf;image/xbm;image/xpm;image/xwd;image/yuv;
